@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------NAV start------ */

nav {
    width: 100%;
    height: 80px;
    padding: 16px;
    background-color: #98BFE5;


    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: 'Ubuntu', sans-serif;
    font-size: 1.12em ;

    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 0 black;
    border: 1px solid black;
}

.nav-logo {
    max-width: 250px;
}

.mobile-nav-icon {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.login-mobile {
    display: none;
}

.nav-items a {
    text-decoration: none;
    color: #101D42;
}

.nav-items a:hover,
.nav-items a:active {
    opacity: 0.6;
}

.busca {
    width: 200px;
    padding: 8px;
    border: 1px solid #101D42;
    font-family: 'Ubuntu', sans-serif;

    border-radius: 3px;
}


.busca-container::after{
    content: " ";
    background-image: url(../_imagens/search.png);
    background-size: contain;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    margin-left: 170px;
    margin-top: -25px;
}

.login::before {
    content: " ";
    background-image: url(../_imagens/user.png);
    background-size: 1em;
    width: 1em;
    height: 1em;
    display: block;
    position: absolute;
    margin-left: -1.3em;
    margin-top: 2px;
}

@media (max-width: 830px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        height: 250px;
        padding: 16px;
        
        background-color: #F4D35E;

        position: absolute;
        right: 0;
        top: 80px;
        z-index: -1;

        transition: 0.4s ease-in;

        font-size: 1.4em;
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: 2px 1px 0 black;
    }
    .nav-links.closed {  
        transform: translate(0, -400px);
        opacity: 0;
    }

    .login-mobile {
        display: block;
    }

    .login-desktop {
        display: none;
    }


    .mobile-nav-icon {
        display: block;
        cursor: pointer;
    }

    .mobile-nav-icon.closed .hamburger {
        width: 30px;
        height: 5px;
        background-color: #101D42;
        display: block;
        margin: 5px 0;
        border-radius: 2px;
        transition: 0.3s;
    }

    .mobile-nav-icon.open .hamburger-1 {
        transform: rotate(-45deg) translate(-10px, 4px);
    }
    .mobile-nav-icon.open .hamburger-2 {
        opacity: 0;
    }
    .mobile-nav-icon.open .hamburger-3 {
        transform: rotate(45deg) translate(-10px, -4px);
    }
    
}

@media (max-width: 635px) {
    .busca-container {
        display: none;
    }

    
} 

/* ------NAV end------ */